### Convertendo do sonoff POW (tasmota), MQTT, Json

2021-09-02T10:47:51 - 2021-09-06T10:55:59
67147

{"Time":"2021-09-03T16:10:08","ENERGY":{"TotalStartTime":"2021-08-28T10:55:00","Total":0.367,"Yesterday":0.169,"Today":0.198,"Period":0,"Power":0,"ApparentPower":0,"ReactivePower":0,"Factor":0,"Voltage":222.931,"Current":0}},

2014-07-01T05:00:14+00:00

In [ ]:
# import numpy as np
# np.datetime64('2021-09-02 10:47:51','ms')

In [ ]:
# dates = pd.to_datetime(['2019-01-15 13:30:00'])
# print(pd.to_datetime(dates).values.astype(np.int64) // 10**6)
# print(pd.to_datetime(dates).astype(int) / 10**9)
# print((dates - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s'))

In [ ]:
# !pip install --user pandas==1.3.2

# from pandas.io.json import json_normalize
# print(pd.__version__)

In [ ]:
# !pip install --user pandas==1.3.2
# print(pd.__version__)

import json
import pandas as pd
from pandas.io.json import json_normalize as jn

import numpy as np

file = '/var/snap/node-red/675/pzem_arduino_2hz_4dias'
csv = '/var/snap/node-red/675/pzem_arduino_2hz_4dias.csv'
# file = '/var/snap/node-red/675/microondas_mod.json'
# csv = '/var/snap/node-red/675/meter3'

with open(file) as data_file:    
    data = json.load(data_file)  
df = jn(data)

In [ ]:
df

In [ ]:
df.loc[df['ENERGY.Current'] == "[0 , 0 , 0]"]

In [ ]:
# df.replace("[0, 0, 0]",np.NaN)
# df.replace("[0, 0]",np.NaN)

           
# Remove energy
result = df.drop(columns=['ENERGY.TotalStartTime', 
                          'ENERGY.Total', 
                          'ENERGY.Yesterday', 
                          
#                           'ENERGY.ApparentPower', 
#                           'ENERGY.ReactivePower', 
#                           'ENERGY.Factor', 
#                           'ENERGY.Voltage', 
#                           'ENERGY.Current',
                          
                          'ENERGY.Today', 
                          'ENERGY.Period'])

# Rename
result = result.rename(columns={'ENERGY.Power': 'Power', 
                         'ENERGY.ApparentPower': 'ApparentPower', 
                         'ENERGY.ReactivePower': 'ReactivePower', 
                         'ENERGY.Factor': 'Factor', 
                         'ENERGY.Frequency': 'Frequency', 
                         'ENERGY.Voltage': 'Voltage', 
                         'ENERGY.Current': 'Current'})


# Epoch
result.Time = pd.to_datetime(result.Time, utc=True)
#result.Time = pd.to_datetime(result.Time).values.astype(np.int64) // 10**6
#result.Time = (result.Time - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [ ]:
# REPLICANDO...

# import datetime as dt
# from datetime import timedelta
# from copy import copy

# arr=[]
# arr.insert(0, result)

# for x in range(10):
#     copy1 = copy(arr[x])
#     arr.insert(x+1, copy1)
#     arr[x+1]['Time'] = arr[x+1]["Time"] + timedelta(days=5)

# res = pd.concat([arr[0],arr[1],arr[2],arr[3],arr[4],arr[5],arr[6],arr[7],arr[8],arr[9],arr[10]], ignore_index=True)

# print(res.shape[0])
# res.head()

# res

In [ ]:
# res.Time = pd.to_datetime(res.Time).values.astype(np.int64) // 10**6

In [ ]:
# Exportar csv
# na_values = ['[0 , 0 , 0]', '[0 , 0]', '\"[0 , 0 , 0]\"', '\"[0 , 0]\"', '"[0 , 0 , 0]"', '"[0 , 0]"']

# result.to_csv(csv,index=False, sep =' ', header=None)
result = pd.read_csv(csv, na_values = na_values, engine= 'python')

# display 
# data_top = result.head() 
# print(data_top)

# !pip install --user matplotlib
# from pandas import DataFrame
# from pandas.plotting import scatter_matrix
# from matplotlib import pyplot
# # print(result.describe())

### Convertendo do PZEM/Arduino, serial

10:14:34.515 - 10:24:15.557

692159

10:24:15.557	346123076, 221.600, 2.286, 459.000, 60.000, 0.910

In [ ]:
# !pip install --user pandas==1.3.2
# # print(pd.__version__)

import pandas as pd
import numpy as np

import datetime as dt


file = '/var/snap/node-red/675/GERAL.json'
csv = '/var/snap/node-red/675/meter1'


result = pd.read_csv(file)

# Remove
result = result.drop(columns=[
#                           'Frequency', 
#                           'Voltage',
#                           'Current',
#                           'Factor',
                          'Millis'])


# Epoch
result.Time = pd.to_datetime(result.Time, utc=True)
#result.Time = pd.to_datetime(result.Time).values.astype(np.int64) // 10**6
# result.Time = (result.Time - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [ ]:
print(result.shape[0])

result

In [ ]:
import datetime as dt
from datetime import timedelta
from copy import copy

arr=[]
arr.insert(0, result)

for x in range(10):
    copy1 = copy(arr[x])
    arr.insert(x+1, copy1)
    arr[x+1]['Time'] = arr[x+1]["Time"] + timedelta(days=5)

res = pd.concat([arr[0],arr[1],arr[2],arr[3],arr[4],arr[5],arr[6],arr[7],arr[8],arr[9],arr[10]], ignore_index=True)

print(res.shape[0])
res.head()

res

In [ ]:
res.Time = pd.to_datetime(res.Time).values.astype(np.int64) // 10**6

In [ ]:
# Exportar csv
res.to_csv(csv,index=False, sep =' ', header=None)
res = pd.read_csv(csv)

# display 
data_top = res.tail() 
print(data_top)

# !pip install --user matplotlib
# from pandas import DataFrame
# from pandas.plotting import scatter_matrix
# from matplotlib import pyplot
# print(result.describe())

In [ ]:
res.tail()

### Gráficos

In [ ]:
import math, numpy as np, pandas as pd, random, matplotlib.pyplot as plt, seaborn as sb


geral = '/var/snap/node-red/675/pzem_arduino_2hz_4dias.csv'
ventilador = '/var/snap/node-red/675/ventilador.csv'
microondas = '/var/snap/node-red/675/microondas.csv'

geral = pd.read_csv(geral, index_col='Time')
ventilador = pd.read_csv(ventilador, index_col='Time')
microondas = pd.read_csv(microondas, index_col='Time')

# sb.heatmap(result.corr(), annot=True, cmap="Blues")

geral.plot.area(figsize=(15, 5), subplots=True)
ventilador.plot.area(figsize=(15, 5), subplots=True)
microondas.plot.area(figsize=(15, 5), subplots=True)

In [ ]:
geral["Power"].plot.area(figsize=(15, 5))
microondas["Power"].plot.area(figsize=(15, 5))
ventilador["Power"].plot.area(figsize=(15, 5))

# TESTES (Concatenando)

Importando dados

In [37]:
import json
import pandas as pd
from pandas.io.json import json_normalize as jn

pd.set_option('display.float_format', lambda x: '%.5f' % x)


import numpy as np

csv = '/var/snap/node-red/675/teste/pzem_arduino_2hz_4dias.csv'
geral = pd.read_csv(csv, sep=',')
geral = geral.drop(columns=['Millis'])
geral['Time'] = pd.to_datetime(geral['Time'],unit='ms')
geral = geral.set_index('Time').resample("1s").mean()
# print (geral.describe())

csv = '/var/snap/node-red/675/teste/microondas.csv'
micro = pd.read_csv(csv, sep=',')
# micro = micro.drop(columns=['ReactivePower','Factor','Voltage','Current'])
micro = micro.rename(columns={'Power': 'Active(micro)', 
                         'ApparentPower': 'ApparentPower(micro)', 
                         'ReactivePower': 'ReactivePower(micro)', 
                         'Factor': 'Factor(micro)', 
                         'Voltage': 'Voltage(micro)', 
                         'Current': 'Current(micro)'})
micro['Time'] = pd.to_datetime(micro['Time'],unit='ms')
micro = micro.set_index('Time')
# print (micro.describe())

csv = '/var/snap/node-red/675/teste/ventilador.csv'
vent = pd.read_csv(csv, sep=',')
# vent = vent.drop(columns=['ReactivePower','Factor','Voltage','Current'])
vent = vent.rename(columns={'Power': 'Active(vent)', 
                         'ApparentPower': 'ApparentPower(vent)', 
                         'ReactivePower': 'ReactivePower(vent)', 
                         'Factor': 'Factor(vent)', 
                         'Voltage': 'Voltage(vent)', 
                         'Current': 'Current(vent)'})
vent['Time'] = pd.to_datetime(vent['Time'],unit='ms')
vent = vent.set_index('Time')

geral.describe()

           Voltage      Current        Power    Frequency       Factor
count 346176.00000 346176.00000 346176.00000 346176.00000 346176.00000
mean     223.46210      2.82408    560.99216     59.96993      0.85331
std        2.68815      1.90533    436.12494      0.04162      0.14194
min      212.40000      0.84500     40.80000     59.80000      0.19000
25%      221.30000      1.58950    308.26250     59.95000      0.81000
50%      223.30000      2.33600    415.15000     60.00000      0.90000
75%      225.90000      3.51300    723.50000     60.00000      0.95000
max      230.00000     14.03600   3015.20000     60.10000      1.00000

### Concatenando (micro e vent)

In [ ]:
concatenado_micro = pd.concat([geral,micro], axis=1)
concatenado_micro.dropna(subset = ["Active(micro)"], inplace=True) # Removendo NaN
concatenado_micro.dropna(subset = ["Power"], inplace=True) # Removendo NaN
concatenado_micro.loc['2021-09-02 11:55:41':'2021-09-02 11:55:50']

concatenado_vent = pd.concat([geral,vent], axis=1)
concatenado_vent.dropna(subset = ["Active(vent)"], inplace=True) # Removendo NaN
concatenado_vent.dropna(subset = ["Power"], inplace=True) # Removendo NaN
# concatenado_vent.loc['2021-09-02 11:55:41':'2021-09-02 11:55:50']

In [ ]:
concatenado_micro['label'] = np.where((concatenado_micro['Active(micro)']>40) , 1, 0)
concatenado_vent['label'] = np.where((concatenado_vent['Active(vent)']>40) , 1, 0)
# concatenado_micro

In [ ]:
# display 
import seaborn as sb
sb.heatmap(concatenado_micro.astype('float64').corr(), annot=True, cmap="Blues")
sb.pairplot(concatenado_micro, hue='label', diag_kind='kde') # Densidades

In [ ]:
# display 
import seaborn as sb
sb.heatmap(concatenado_vent.astype('float64').corr(), annot=True, cmap="Blues")
sb.pairplot(concatenado_vent, hue='label', diag_kind='kde') # Densidades

# TESTES (Concatenando ar e lava)

Importando dados

In [1]:
import json
import pandas as pd
from pandas.io.json import json_normalize as jn

pd.set_option('display.float_format', lambda x: '%.5f' % x)


import numpy as np
#1638916813000 914.4 938.778 212.5 0.97 59.9 219.7 4.273
csv = '/var/snap/node-red/675/teste/meter1'
geral = pd.read_csv(csv, sep=' ', names=["Time","Active","ApparentPower","ReactivePower","Factor","Frequency","Voltage","Current"])
geral = geral.drop(columns=["Frequency"])
geral['Time'] = pd.to_datetime(geral['Time'],unit='ms')
geral = geral.set_index('Time').resample("1s").mean()
# print (geral.describe())

csv = '/var/snap/node-red/675/teste/meter2'
lav = pd.read_csv(csv, sep=' ', names=["Time","Active(lav)","ApparentPower(lav)","ReactivePower(lav)","Factor(lav)","Voltage(lav)","Current(lav)"])
lav = lav.drop(columns=['Factor(lav)','Voltage(lav)','Current(lav)'])
lav['Time'] = pd.to_datetime(lav['Time'],unit='ms')
lav = lav.set_index('Time')
# print (micro.describe())

csv = '/var/snap/node-red/675/teste/meter3'
ar = pd.read_csv(csv, sep=' ', names=["Time","Active(ar)","ApparentPower(ar)","ReactivePower(ar)","Factor(ar)","Voltage(ar)","Current(ar)"])
ar = ar.drop(columns=['Factor(ar)','Voltage(ar)','Current(ar)'])
ar['Time'] = pd.to_datetime(ar['Time'],unit='ms')
ar = ar.set_index('Time')
# print (micro.describe())

ar.describe()
geral

,Active,ApparentPower,ReactivePower,Factor,Voltage,Current
Time,,,,,,
2021-12-07 22:40:13,914.40000,938.77800,212.50000,0.97000,219.70000,4.27300
2021-12-07 22:40:14,914.40000,938.77800,212.50000,0.97000,219.70000,4.27300
2021-12-07 22:40:15,913.30000,938.57000,216.30000,0.97000,219.60000,4.27400
2021-12-07 22:40:16,916.70000,941.86400,216.30000,0.97000,219.60000,4.28900
2021-12-07 22:40:17,910.50000,935.71600,215.80000,0.97000,219.60000,4.26100
...,...,...,...,...,...,...
2021-12-22 01:54:18,415.80000,466.09500,210.60000,0.89000,226.70000,2.05600
2021-12-22 01:54:19,416.50000,466.98100,211.20000,0.89000,226.80000,2.05900
2021-12-22 01:54:20,416.50000,466.98100,211.20000,0.89000,226.80000,2.05900
2021-12-22 01:54:21,415.70000,466.09500,210.80000,0.89000,226.70000,2.05600
2021-12-22 01:54:22,415.80000,466.30100,211.10000,0.89000,226.80000,2.05600

In [4]:
concatenado_todos= pd.concat([geral,lav,ar], axis=1)
# concatenado_lav.dropna(subset = ["Active(lav)"], inplace=True) # Removendo NaN
concatenado_todos.dropna(subset = ["Active"], inplace=True) # Removendo NaN
#concatenado_lav.loc['2021-12-07 11:55:41':'2021-12-07 23:55:50']

# concatenado_ar = pd.concat([geral,ar], axis=1)
# concatenado_ar.dropna(subset = ["Active(ar)"], inplace=True) # Removendo NaN
# concatenado_ar.dropna(subset = ["Active"], inplace=True) # Removendo NaN
# concatenado_vent.loc['2021-09-02 11:55:41':'2021-09-02 11:55:50']

In [20]:
concatenado_todos['label'] = np.where((concatenado_todos['Active(lav)']>5) , 1, 0)
concatenado_todos['label'] = np.where((concatenado_todos['Active(ar)']>40) , 2, 0)

In [ ]:
# display 
import seaborn as sb
sb.heatmap(concatenado_todos.astype('float64').corr(), annot=True, cmap="Blues")
sb.pairplot(concatenado_todos, hue='label', diag_kind='kde') # Densidades

In [33]:
concatenado_todos.loc[concatenado_todos['label']==2]

,Active,ApparentPower,ReactivePower,Factor,Voltage,Current,Active(lav),ApparentPower(lav),ReactivePower(lav),Active(ar),ApparentPower(ar),ReactivePower(ar),label
Time,,,,,,,,,,,,,
2021-12-08 11:56:43,313.30000,332.52400,111.40000,0.94000,227.60000,1.46100,nan,nan,nan,41.57400,73.03200,60.00000,2
2021-12-08 11:57:38,354.00000,384.98200,151.30000,0.92000,227.80000,1.69000,nan,nan,nan,113.42200,114.79400,17.70000,2
2021-12-08 11:57:43,358.80000,392.27200,158.60000,0.91000,227.80000,1.72200,nan,nan,nan,92.02700,110.07400,60.40000,2
2021-12-08 11:57:58,362.90000,396.72000,160.30000,0.91000,228.00000,1.74000,nan,nan,nan,90.03600,147.14000,116.40000,2
2021-12-08 11:58:03,347.20000,380.25900,155.10000,0.91000,227.70000,1.67000,nan,nan,nan,85.94500,143.32500,114.70000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-22 01:43:44,474.40000,508.27400,182.40000,0.93000,226.00000,2.24900,nan,nan,nan,50.24900,87.65900,71.80000,2
2021-12-22 01:44:09,462.60000,518.67000,234.60000,0.89000,226.00000,2.29500,nan,nan,nan,40.81400,60.53200,44.70000,2
2021-12-22 01:44:34,463.40000,519.80800,235.50000,0.89000,226.20000,2.29800,nan,nan,nan,40.95000,61.09700,45.30000,2
2021-12-22 01:44:49,488.00000,524.56300,192.40000,0.93000,226.30000,2.31800,nan,nan,nan,52.51000,88.87500,71.70000,2
2021-12-22 01:44:54,479.20000,513.02200,183.20000,0.93000,226.40000,2.26600,nan,nan,nan,54.85700,88.22900,69.10000,2

In [6]:
concatenado_lav["Active(lav)"].plot()

NameError: name 'concatenado_lav' is not defined